body{
	padding: 0;
	margin: 0;
}

#page{
	display: flex;
}

#page aside{
	width: 30%;
	background-color: #0288D1;
	color:#ffffff;
}

#page aside img{
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#page aside h3{
	background-color: #ffffff;
	color: #0288D1;
	text-align: center;
	padding: 5px;
}

#page p.content{
	margin-left: 20%;
	font-size: 1em;
}

#page main{
	width: 70%;
}